@import './colors.css';

.daily-header {
    background-color: var(--primary-300);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
}

.mealCard {
    border-bottom: lightgray 1px solid;
}

.mealCard:first-child {
    border-top: none;
}

.workout-items-container:last-child {
    margin-bottom: 10px;
}
