.mealItemCard {
    border-bottom: lightgray 1px solid;
    border-top: lightgray 1px solid;
    background-color: #f5f5f5;
    padding: 5px 20px;
}

.mealItemCardHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.mealItemCardHeaderText {
    font-size: 14px;
    color: #333;
}

.mealItemCardHeaderCheck {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mealItemCardHeader > div {
    display: flex;
}

.mealItemCardCalories {
    font-size: 12px;
    color: #333;
    font-weight: 600;
}

.mealItemCardCalories svg * {
    fill: var(--calories) !important;
}

.mealItemCardRemove {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mealItemCardRemove:hover {
    background-color: lightgray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.mealItemCardMinutes {
    font-size: 12px;
    color: gray;
    font-weight: 600;
}

.add-to-favourites svg * {
    fill: var(--accent-400) !important;
}

.add-to-favourites:hover {
    background-color: lightgray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.change-portion:hover {
    background-color: lightgray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}



