@import './colors.css';

.cell-name-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  min-height: 3.6em;
  margin-bottom: 10px;
  color: var(--neutral-700);
  text-align: left;
  font-size: 10px;
}

.cell-name-text.snacks {
  -webkit-line-clamp: 2;
  min-height: 2.4em;
  margin-bottom: 5px;
}

/* Ensure the container has proper height */
.grid-cell {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}

.info-container img {
    width: 10px;
    height: 10px;
}

.info-container p { 
    font-size: 10px;
    color: var(--neutral-700);
}

.info-container.calories {
  background-color: var(--accent-200);
  border-radius: 10px;
  padding: 0 0.2rem;
}

.info-container.time {
  background-color: var(--neutral-200);
  border-radius: 10px;
  padding: 0 0.2rem;
}

.info-container.calories.snacks {
  width: 35px;
}

.grid-cell.today {
  background-color: var(--secondary-50) !important;
}

.workout-name-text {
  line-height: 1.2;
  color: var(--neutral-700);
  text-align: left;
  font-size: 10px;
}

.complete-button {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  transition: all 0.2s ease;
  flex-shrink: 0;
  align-self: flex-end;
}


